.exhibitor-container {
  display: flex;
  justify-content: center;
  margin-top: 132px;

  &__box {
    padding-top: 32px;
    width: 85%;
    height: 692px;
    overflow-y: scroll;
    scrollbar-color: white #443d3d;
    scrollbar-width: thin;
    padding: 0px 32px;
  }

  &__box::-webkit-scrollbar {
    width: 4px;
    background-color: #443d3d;
  }

  &__box::-webkit-scrollbar-thumb {
    width: 4px;
    height: 91.3px;
    background-color: white;
  }
}

.badge-box {
  &__image {
    width: 232px;
    height: 232px;
  }

  &__text {
    margin-top: 8px;
    font-family: "GameOfThrone";
    text-decoration: none;
    text-align: center;
    line-height: normal;
    color: white;
    word-spacing: 0.25em;
  }
}

@media (max-width: 3440px) {
  .exhibitor-container__box {
    height: 852px;
  }
}

@media (max-width: 2048px) {
  .exhibitor-container__box {
    height: 612px;
  }
}

@media (max-width: 728px) {
  .exhibitor-container__box {
    height: 692px;
  }
}

@media (max-width: 480px) {
  .exhibitor-container__box {
    height: 448px;
  }
}
