.back-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 12.5vw;

  &__img {
    width: 5.5vh;
    height: 5.5vh;
    padding-right: 16px;
  }

  &__text {
    margin-top: 8px;
    font-family: "GameOfThrone";
    color: white;
    letter-spacing: 0.25em;
  }
}
