.btn-home {
  position: absolute;
  top: 20px;
  right: 23rem;

  &__item {
    width: 4.2vh;
    height: 5vh;
  }
}

@media (max-width: 810px) {
  .btn-home {
    right: 15em;
  }
}

@media (max-width: 576px) {
  .btn-home {
    right: 11em;
  }
}

@media (max-width: 375px) {
  .btn-home {
    right: 10em;
  }
}

@media (max-width: 320px) {
  .btn-home {
    right: 9em;
  }
}
