.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 99vw;
}

.portrait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50vh;
  margin-top: 82px;

  &__image {
    width: 248px;
    height: 300px;

    &--badge {
      width: 160px;
      height: 190px;
    }
  }
  &__caption {
    font-family: "GameOfThrone";
    font-size: 34px;
    margin-top: 32px;
  }

  &__text {
    color: white;
    text-align: center;
    padding: 8px 32px;
  }
}

.box-scroll::-webkit-scrollbar {
  width: 4px;
  background-color: #443d3d;
}

.box-scroll::-webkit-scrollbar-thumb {
  width: 4px;
  height: 91.3px;
  background-color: white;
}

.portrait-box {
  width: 90%;
  margin-top: 64px;
}

.box-scroll {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: white #443d3d;
  scrollbar-width: thin;
  height: 24vh;
}

h3 {
  margin-bottom: 32px;
}

@media (max-width: 375px) {
  .portrait-container {
    margin-top: 162px;
  }
}
