.timeline-box {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  &__circle {
    position: absolute;
    left: 48.4vw;
    top: 42px;
    width: 59px;
    height: 59px;
    border: 3px solid white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    left: 48.565vw;
    top: 122px;
    width: 52px;
    height: 25px;
    transform: rotate(270deg);

    &--rotated {
      position: absolute;
      left: 48.565vw;
      top: 122px;
      width: 52px;
      height: 25px;
      transform: rotate(90deg);
    }
  }

  .timeline-pack {
    width: 85%;
    height: 825px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: white #443d3d;
    scrollbar-width: thin;
    padding: 0px 32px;

    &--flex {
      display: flex;
    }

    &__left {
      border-right: 3px solid white;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__right {
      width: 50%;
      margin-top: 228px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__pair {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 72px;
      border-top: 3px solid white;
      width: 366px;
      gap: 25px;

      &--age {
        font-family: Georgia;
        font-size: 24px;
        color: white;
      }

      &--name {
        font-family: "GameOfThrone";
        color: white;
      }

      &--img {
        width: 100px;
        height: 100px;
        border-radius: 64px;
      }
    }

    &__odd {
      display: flex;
      align-items: center;
      flex-direction: column;
      border-top: 3px solid white;
      margin-bottom: 42px;
      width: 366px;
      gap: 24px;

      &--age {
        font-family: Georgia;
        font-size: 24px;
        color: white;
      }

      &--name {
        font-family: "GameOfThrone";
        color: white;
      }

      &--img {
        width: 100px;
        height: 100px;
        border-radius: 64px;
      }
    }
  }
}

@media (max-width: 810px) {
  .timeline-box {
    margin-top: 164px;
  }

  .timeline-box__circle {
    left: 46.3vw;
    top: 106px;
  }
  .timeline-box__arrow {
    left: 46.5vw;
    top: 184px;

    &--rotated {
      left: 46.7vw;
      top: 184px;
    }
  }

  .timeline-box .timeline-pack {
    height: 832px;
  }
}

@media (max-width: 428px) {
  .timeline-box {
    margin-top: 130px;
  }

  .timeline-box__circle {
    left: 42.5vw;
    top: 72px;
  }
  .timeline-box__arrow {
    left: 43.565vw;
    top: 152px;

    &--rotated {
      left: 43.565vw;
      top: 148px;
    }
  }

  .timeline-box .timeline-pack {
    height: 742px;

    &__pair {
      &--age {
        margin-left: 192px;
      }
      &--name {
        margin-left: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-left: 192px;
      }
    }

    &__odd {
      &--age {
        margin-right: 192px;
      }
      &--name {
        margin-right: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-right: 192px;
      }
    }
  }
}

@media (max-width: 414px) {
  .timeline-box {
    margin-top: 130px;
  }

  .timeline-box__circle {
    left: 42.5vw;
    top: 72px;
  }
  .timeline-box__arrow {
    left: 43.565vw;
    top: 152px;

    &--rotated {
      left: 43.565vw;
      top: 148px;
    }
  }

  .timeline-box .timeline-pack {
    height: 712px;

    &__pair {
      &--age {
        margin-left: 192px;
      }
      &--name {
        margin-left: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-left: 192px;
      }
    }

    &__odd {
      &--age {
        margin-right: 192px;
      }
      &--name {
        margin-right: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-right: 192px;
      }
    }
  }
}

@media (max-width: 390px) {
  .timeline-box {
    margin-top: 130px;
  }

  .timeline-box__circle {
    left: 42vw;
    top: 72px;
  }
  .timeline-box__arrow {
    left: 43vw;
    top: 152px;

    &--rotated {
      left: 43vw;
      top: 148px;
    }
  }

  .timeline-box .timeline-pack {
    height: 670px;

    &__pair {
      &--age {
        margin-left: 192px;
      }
      &--name {
        margin-left: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-left: 192px;
      }
    }

    &__odd {
      &--age {
        margin-right: 192px;
      }
      &--name {
        margin-right: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-right: 192px;
      }
    }
  }
}

@media (max-width: 375px) {
  .timeline-box {
    margin-top: 130px;
  }

  .timeline-box__circle {
    left: 41.5vw;
    top: 72px;
  }
  .timeline-box__arrow {
    left: 42.565vw;
    top: 148px;

    &--rotated {
      left: 42.565vw;
      top: 148px;
    }
  }

  .timeline-box .timeline-pack {
    height: 632px;

    &__pair {
      &--age {
        margin-left: 192px;
      }
      &--name {
        margin-left: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-left: 192px;
      }
    }

    &__odd {
      &--age {
        margin-right: 192px;
      }
      &--name {
        margin-right: 196px;
        font-size: 9px;
        letter-spacing: 2px;
      }
      &--img {
        margin-right: 192px;
      }
    }
  }
}

@media (max-width: 320px) {
  .timeline-box .timeline-pack {
    height: 582px;
  }
}

@media (max-width: 320px) {
  .timeline-box {
    margin-top: 130px;
  }

  .timeline-box__circle {
    left: 40.5vw;
    top: 72px;
  }
  .timeline-box__arrow {
    left: 41.565vw;
    top: 148px;

    &--rotated {
      left: 41.565vw;
      top: 148px;
    }
  }

  .timeline-box .timeline-pack {
    height: 400px;

    &__pair {
      &--age {
        margin-left: 212px;
      }
      &--name {
        margin-left: 232px;
        font-size: 6px;
        letter-spacing: 4px;
      }
      &--img {
        margin-left: 218px;
      }
    }

    &__odd {
      &--age {
        margin-right: 212px;
      }
      &--name {
        margin-right: 1232px;
        font-size: 6px;
        letter-spacing: 4px;
      }
      &--img {
        margin-right: 218px;
      }
    }
  }
}
